In [1]:
import pandas as pd
rec=pd.read_csv("sales.csv")
print(rec)

                               Region                Country        Item Type  \
0               Australia and Oceania                 Tuvalu        Baby Food
1   Central America and the Caribbean                Grenada           Cereal
2                              Europe                 Russia  Office Supplies
3                  Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                  Sub-Saharan Africa                 Rwanda  Office Supplies
..                                ...                    ...              ...
95                 Sub-Saharan Africa                   Mali          Clothes
96                               Asia               Malaysia           Fruits
97                 Sub-Saharan Africa           Sierra Leone       Vegetables
98                      North America                 Mexico    Personal Care
99                 Sub-Saharan Africa             Mozambique        Household

   Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0        Offline              H   5/28/2010  669165933   6/27/2010
1         Online              C   8/22/2012  963881480   9/15/2012
2        Offline              L    5/2/2014  341417157    5/8/2014
3         Online              C   6/20/2014  514321792    7/5/2014
4        Offline              L    2/1/2013  115456712    2/6/2013
..           ...            ...         ...        ...         ...
95        Online              M   7/26/2011  512878119    9/3/2011
96       Offline              L  11/11/2011  810711038  12/28/2011
97       Offline              C    6/1/2016  728815257   6/29/2016
98       Offline              M   7/30/2015  559427106    8/8/2015
99       Offline              L   2/10/2012  665095412   2/15/2012

    Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0         9925      255.28     159.42     2533654.00  1582243.50     951410.50
1         2804      205.70     117.11      576782.80   328376.44     248406.36
2         1779      651.21     524.96     1158502.59   933903.84     224598.75
3         8102        9.33       6.92       75591.66    56065.84      19525.82
4         5062      651.21     524.96     3296425.02  2657347.52     639077.50
..         ...         ...        ...            ...         ...           ...
95         888      109.28      35.84       97040.64    31825.92      65214.72
96        6267        9.33       6.92       58471.11    43367.64      15103.47
97        1485      154.06      90.93      228779.10   135031.05      93748.05
98        5767       81.73      56.67      471336.91   326815.89     144521.02
99        5367      668.27     502.54     3586605.09  2697132.18     889472.91

[100 rows x 14 columns]

In [2]:
rec.count()

Region            100
Country           100
Item Type         100
Sales Channel     100
Order Priority    100
Order Date        100
Order ID          100
Ship Date         100
Units Sold        100
Unit Price        100
Unit Cost         100
Total Revenue     100
Total Cost        100
Total Profit      100
dtype: int64

In [3]:
rec.max()

Region            Sub-Saharan Africa
Country                       Zambia
Item Type                 Vegetables
Sales Channel                 Online
Order Priority                     M
Order Date                  9/8/2014
Order ID                   994022214
Ship Date                   9/7/2016
Units Sold                      9925
Unit Price                    668.27
Unit Cost                     524.96
Total Revenue             5997054.98
Total Cost                4509793.96
Total Profit              1719922.04
dtype: object

In [4]:
print(rec.loc[1])

Region            Central America and the Caribbean
Country                                     Grenada
Item Type                                    Cereal
Sales Channel                                Online
Order Priority                                    C
Order Date                                8/22/2012
Order ID                                  963881480
Ship Date                                 9/15/2012
Units Sold                                     2804
Unit Price                                    205.7
Unit Cost                                    117.11
Total Revenue                              576782.8
Total Cost                                328376.44
Total Profit                              248406.36
Name: 1, dtype: object

In [5]:
print(rec.loc[0])

Region            Australia and Oceania
Country                          Tuvalu
Item Type                     Baby Food
Sales Channel                   Offline
Order Priority                        H
Order Date                    5/28/2010
Order ID                      669165933
Ship Date                     6/27/2010
Units Sold                         9925
Unit Price                       255.28
Unit Cost                        159.42
Total Revenue                 2533654.0
Total Cost                    1582243.5
Total Profit                   951410.5
Name: 0, dtype: object

In [4]:
import pandas as pd
rec=pd.read_csv("sales.csv")
print(rec)

                               Region                Country        Item Type  \
0               Australia and Oceania                 Tuvalu        Baby Food
1   Central America and the Caribbean                Grenada           Cereal
2                              Europe                 Russia  Office Supplies
3                  Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                  Sub-Saharan Africa                 Rwanda  Office Supplies
..                                ...                    ...              ...
95                 Sub-Saharan Africa                   Mali          Clothes
96                               Asia               Malaysia           Fruits
97                 Sub-Saharan Africa           Sierra Leone       Vegetables
98                      North America                 Mexico    Personal Care
99                 Sub-Saharan Africa             Mozambique        Household

   Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0        Offline              H   5/28/2010  669165933   6/27/2010
1         Online              C   8/22/2012  963881480   9/15/2012
2        Offline              L    5/2/2014  341417157    5/8/2014
3         Online              C   6/20/2014  514321792    7/5/2014
4        Offline              L    2/1/2013  115456712    2/6/2013
..           ...            ...         ...        ...         ...
95        Online              M   7/26/2011  512878119    9/3/2011
96       Offline              L  11/11/2011  810711038  12/28/2011
97       Offline              C    6/1/2016  728815257   6/29/2016
98       Offline              M   7/30/2015  559427106    8/8/2015
99       Offline              L   2/10/2012  665095412   2/15/2012

    Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0         9925      255.28     159.42     2533654.00  1582243.50     951410.50
1         2804      205.70     117.11      576782.80   328376.44     248406.36
2         1779      651.21     524.96     1158502.59   933903.84     224598.75
3         8102        9.33       6.92       75591.66    56065.84      19525.82
4         5062      651.21     524.96     3296425.02  2657347.52     639077.50
..         ...         ...        ...            ...         ...           ...
95         888      109.28      35.84       97040.64    31825.92      65214.72
96        6267        9.33       6.92       58471.11    43367.64      15103.47
97        1485      154.06      90.93      228779.10   135031.05      93748.05
98        5767       81.73      56.67      471336.91   326815.89     144521.02
99        5367      668.27     502.54     3586605.09  2697132.18     889472.91

[100 rows x 14 columns]

In [5]:
rec.isnull()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,False,False,False,False